{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "prettier/@typescript-eslint",
    "plugin:jsx-a11y/recommended",
    "prettier/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "jest", "react"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "global-require": "off",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "warn",
    "import/no-cycle": "off",
    "no-multi-assign": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "import/imports-first": ["error", "absolute-first"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".mdx"]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": ["error", "never"]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".jsx", ".ts", ".tsx"]
    },
    "import/resolver": {
      "babel-module": {},
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    // Allows for the parsing of modern ECMAScript features
    "ecmaVersion": 2018,
    // Allows for the use of imports
    "sourceType": "module",
    // https://blog.geographer.fr/eslint-parser-services, https://www.robertcooper.me/using-eslint-and-prettier-in-a-typescript-project
    "project": "./tsconfig.json",
    "extraFileExtensions": [".graphql", ".mdx"]
  }
}
